body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

header{
    font-size: larger;
    font-weight: 700;
}

#book-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax( 220px , 1fr));
    justify-content: center;
    gap: 5%;
    padding: 20px;
}

.new_Div{
    height: 300px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}

#blur-background{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.542);
    display: none;
    z-index: 2;
}

h2{
    margin: 0;
}

form{
    position: absolute;
    align-items: center;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 210px;
    height: 320px;
    border: 2px solid black;
    padding: 20px;
    justify-content: center;
    z-index: 3;
    background-color: white;
    border-radius: 20px;
}

form > h2{
    text-align: center;
}

form > input , .pages > input {
    border: 2px solid black;
    border-radius: 4px;
    height: 25px;
    background-color: rgb(243, 243, 243);
}

.pages > input::placeholder {
    font-size: 12px; /* Adjust the font size as needed */
}

form > .pages{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

span{
    display: flex;
    align-items: center;
    font-size: larger;
}

.pages > input {
    width: 100%;

}

form > button {
    width: 50%;
    justify-self: center;
    border-radius: 4px;
}

